body {
    background: white;
    color: black;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.cell {
    width: 25px;
    height: 25px;
    background-color: gray;
    border: 1px solid black;
}

.mine-cell {
    background-color: red;
}