body {
    background: white;
    color: black;

}


.game-container {
    border-collapse: separate;
    border-spacing: 10px;
}

.cell {
    width: 25px;
    height: 25px;
    background-color: gray;
    border: 1px solid black;
}

.lives {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.smile {
    display: flex;
    justify-content: center;
}

.level {
    display: flex;
    justify-content: center;
}

.hints {
    display: flex;
    justify-content: center;
}